@import "~bootstrap/scss/bootstrap";
@import "/static/assets/css/unicons.css";
@import "/static/assets/css/default-icons.css";
@import "swiper/css/bundle";
@import "/static/assets/css/fontawesome-all.min.css";
@import "/static/assets/css/animate.min.css";
@import "/static/assets/scss/main.scss";